@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.VATs
@using DMSpro.OMS.MdmService.VATs;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/VATs/CreateModal" autocomplete="off">
    <abp-modal id="VATCreateModal">
        <abp-modal-header title="@L["NewVAT"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="VAT.Code" />

            <abp-input asp-for="VAT.Name" />

            <abp-input asp-for="VAT.Rate" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
