@page
@using DMSpro.OMS.Localization;
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Pages.Companies
@using DMSpro.OMS.MdmService.Web.Menus
@using DMSpro.OMS.MdmService.Companies;
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IHtmlLocalizer<OMSWebResource> L1
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "MCP";
    PageLayout.Content.MenuItemName = MdmServiceMenus.MCPHeaders;
}

@section styles {
    <abp-style src="/Pages/Mdm/MCPHeaders/index.css" />
}
@section scripts {
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/Pages/Mdm/MCPHeaders/index.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Mdm</a></li>
        <li class="breadcrumb-item active">MCP Header</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-file-alt"></i>
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0" style="">
                <abp-card>
                    <abp-card-body>
                        <abp-row>
                            <div style="padding-left:12px" class="buttons-header-grid">
                                <button type="button" class="btn btn-light btn-sm hvr-icon-pop">
                                    <i class="fa fa-check hvr-icon"></i>
                                    <span class="">Generate visit plan</span>
                                </button>
                                <button type="button" class="btn btn-light btn-sm hvr-icon-pop">
                                    <i class="fa fa-times hvr-icon"></i>
                                    <span class="">Enddate MCP</span>
                                </button>
                            </div>
                        </abp-row>
                        <div class="dx-viewport">
                            <div class="py-3" id="resizable">
                                <div id="top-section"></div> 
                            </div>
                            <div class=" py-2">
                                <div id="gridMCPHeaders"> </div>
                            </div>
                        </div>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</div> 