<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <!-- <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 22.1\DevExtreme\System\DevExtreme\Bin\AspNetCore" /> -->
    <add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/vxbWufk7yUPyA4yKP2B5QGVyGvgkmmSbNAW4cSIk6HONBKZnS7/api" />
  </packageSources>
</configuration>