<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <!-- <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 22.1\DevExtreme\System\DevExtreme\Bin\AspNetCore" /> -->
    <add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/vxbWufk7yUPyA4yKP2B5QGVyGvgkmmSbNAW4cSIk6HONBKZnS7/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/c54e55b5-9c95-48a9-b822-17e06debecd9/v3/index.json" />
  </packageSources>
</configuration>