@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.CustomerAttributes
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.CustomerAttributes;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerAttributes/EditModal" autocomplete="off">
    <abp-modal id="CustomerAttributeEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="CustomerAttribute.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="CustomerAttribute.AttrNo" />

            <abp-input asp-for="CustomerAttribute.AttrName" />

            <abp-input asp-for="CustomerAttribute.HierarchyLevel" />

            <abp-input asp-for="CustomerAttribute.Active" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>