@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.WeightMeasurements
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.WeightMeasurements;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/WeightMeasurements/EditModal" autocomplete="off">
    <abp-modal id="WeightMeasurementEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="WeightMeasurement.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="WeightMeasurement.Code" />

            <abp-input asp-for="WeightMeasurement.Name" />

            <abp-input asp-for="WeightMeasurement.Value" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
