@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.CustomerGroupByGeos
@using DMSpro.OMS.MdmService.CustomerGroupByGeos;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerGroupByGeos/CreateModal" autocomplete="off">
    <abp-modal id="CustomerGroupByGeoCreateModal">
        <abp-modal-header title="@L["NewCustomerGroupByGeo"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CustomerGroupByGeo.Active" />

            <abp-input asp-for="CustomerGroupByGeo.EffectiveDate" value="" type="date"/>

                                <abp-select asp-for="CustomerGroupByGeo.CustomerGroupId" asp-items="Model.CustomerGroupLookupListRequired" label="@L["CustomerGroup"].Value"/>            <abp-select asp-for="CustomerGroupByGeo.GeoMasterId" asp-items="Model.GeoMasterLookupListRequired" label="@L["GeoMaster"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>