#resizable {
    padding: 10px;
    height: 180px;
}

.dx-resizable-handle-bottom {
    border-bottom: 1px dotted #999;
}

    .dx-resizable-handle-bottom::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
    }

    .dx-resizable-handle-bottom::after {
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

#resizable > div.wrapper {
    overflow: auto;
    height: 100%;
}

div.dx-datagrid .dx-toolbar-items-container, div.dx-treelist-container div.dx-toolbar-items-container {
    display: block !important;
}

div.dx-toolbar-items-container
div.dx-button-content {
    font-size: 12px;
}

    div.dx-toolbar-items-container
    div.dx-button-content
    i.dx-icon.fa {
        font-size: 14px;
    }

div.dx-toolbar-items-container
div.dx-button-has-text.dx-button-has-icon
div.dx-button-content
i.dx-icon.fa {
    margin-right: 2px;
}

.dx-button-mode-contained {
    border-radius: 0;
}

.dx-toolbar-text-auto-hide .dx-button .dx-button-content,
div.dx-toolbar-after div.dx-button-content {
    padding: 6px;
}

div.dx-toolbar-items-container
div.dx-button-content {
    font-size: 12px;
}

    div.dx-toolbar-items-container
    div.dx-button-content
    i.dx-icon.fa {
        font-size: 14px;
    }

div.dx-toolbar-items-container
div.dx-button-has-text.dx-button-has-icon
div.dx-button-content
i.dx-icon.fa {
    margin-right: 2px;
}
