@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.CustomerGroupByAtts
@using DMSpro.OMS.MdmService.CustomerGroupByAtts;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerGroupByAtts/CreateModal" autocomplete="off">
    <abp-modal id="CustomerGroupByAttCreateModal">
        <abp-modal-header title="@L["NewCustomerGroupByAtt"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CustomerGroupByAtt.ValueCode" />

            <abp-input asp-for="CustomerGroupByAtt.ValueName" />

                                <abp-select asp-for="CustomerGroupByAtt.CustomerGroupId" asp-items="Model.CustomerGroupLookupListRequired" label="@L["CustomerGroup"].Value"/>            <abp-select asp-for="CustomerGroupByAtt.CusAttributeValueId" asp-items="Model.CusAttributeValueLookupListRequired" label="@L["CusAttributeValue"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>