@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.CustomerGroupByLists
@using DMSpro.OMS.MdmService.CustomerGroupByLists;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerGroupByLists/CreateModal" autocomplete="off">
    <abp-modal id="CustomerGroupByListCreateModal">
        <abp-modal-header title="@L["NewCustomerGroupByList"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CustomerGroupByList.Active" />

                                <abp-select asp-for="CustomerGroupByList.CustomerGroupId" asp-items="Model.CustomerGroupLookupListRequired" label="@L["CustomerGroup"].Value"/>            <abp-select asp-for="CustomerGroupByList.CustomerId" asp-items="Model.CustomerLookupListRequired" label="@L["Customer"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>