@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.CustomerGroups
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.CustomerGroups;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerGroups/EditModal" autocomplete="off">
    <abp-modal id="CustomerGroupEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="CustomerGroup.ConcurrencyStamp" hidden="hidden" suppress-label="true"/>
                    
            <abp-input asp-for="CustomerGroup.Code" />

            <abp-input asp-for="CustomerGroup.Name" />

            <abp-input asp-for="CustomerGroup.Active" />

            <abp-input asp-for="CustomerGroup.EffectiveDate" value="@(Model.CustomerGroup.EffectiveDate?.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-select asp-for="CustomerGroup.GroupBy" />

            <abp-select asp-for="CustomerGroup.Status" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>