@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.VisitPlans
@using DMSpro.OMS.MdmService.VisitPlans;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/VisitPlans/CreateModal" autocomplete="off">
    <abp-modal id="VisitPlanCreateModal">
        <abp-modal-header title="@L["NewVisitPlan"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="VisitPlan.DateVisit" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-input asp-for="VisitPlan.Distance" />

            <abp-input asp-for="VisitPlan.VisitOrder" />

            <abp-select asp-for="VisitPlan.DayOfWeek" />

            <abp-input asp-for="VisitPlan.Week" />

            <abp-input asp-for="VisitPlan.Month" />

            <abp-input asp-for="VisitPlan.Year" />

                                <abp-select asp-for="VisitPlan.MCPDetailId" asp-items="Model.MCPDetailLookupListRequired" label="@L["MCPDetail"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>