@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.OrderService.Permissions
@using DMSpro.OMS.OrderService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.Localization
@inject IHtmlLocalizer<OMSResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:SOService:ArInvoice"].Value;
    PageLayout.Content.MenuItemName = OrderServiceMenus.ArHeaders;
}

@section styles{
    <style>
        .dx-datagrid-rowsview .dx-data-row .dx-cell-modified.dx-cell-modified::after, .dx-datagrid-rowsview .dx-data-row .dx-cell-modified.dx-datagrid-invalid::after {
            border : 1px solid transparent
        }
        .dx-datagrid-rowsview .dx-data-row .dx-cell-modified .dx-highlight-outline::after {
            border-color: rgba(0, 0, 0, 0.175);
        }
        .dx-col-fixed.dx-cell-focus-disabled[role="columnheader"]{
            background-color : #2b4c81 !important;
        }
        .dx-checkbox-icon {
            border : 1px solid rgba(0, 0, 0, 0.4); 
        }
        #resizeBox {
            overflow: hidden;
        }
        .priceTotalStyleBox input.dx-texteditor-input{
            font-size: 1.5rem !important;
            line-height: 1.5rem;
            color : #000
        }
    </style>
}

@section scripts {
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/pages/shared/common.isp.js" />
    <abp-script src="/Pages/SO/ArInvoice/store.js" />
    <abp-script src="/Pages/SO/ArInvoice/helper.js" />
    <abp-script src="/Pages/SO/ArInvoice/index.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:SOService:GroupMenu:SO"].Value</a></li>
        <li class="breadcrumb-item active">@L["Menu:SOService:ArInvoice"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-file-alt"></i> @L["Menu:SOService:ArInvoice"].Value
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0">
                <div class="dx-viewport p-2">
                    <div id="dgArInvoiceHeaders"></div>
                </div>
            </div>
        </div>
    </div>
</div>