#img-avatar{
    width:128px;
    height:128px;
}

.dx-fileuploader-content .dx-fileuploader-files-container{
    display:none;
}


.dx-fileuploader-content .dx-fileuploader-upload-button {
    display: none;
}