@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.SystemDatas
@using DMSpro.OMS.MdmService.SystemDatas;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/SystemDatas/CreateModal" autocomplete="off">
    <abp-modal id="SystemDataCreateModal">
        <abp-modal-header title="@L["NewSystemData"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="SystemData.Code" />

            <abp-input asp-for="SystemData.ValueCode" />

            <abp-input asp-for="SystemData.ValueName" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>