@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.CustomerAttachments
@using DMSpro.OMS.MdmService.CustomerAttachments;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerAttachments/CreateModal" autocomplete="off">
    <abp-modal id="CustomerAttachmentCreateModal">
        <abp-modal-header title="@L["NewCustomerAttachment"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CustomerAttachment.url" />

            <abp-input asp-for="CustomerAttachment.Description" />

            <abp-input asp-for="CustomerAttachment.Active" />

                                <abp-select asp-for="CustomerAttachment.CustomerId" asp-items="Model.CustomerLookupListRequired" label="@L["Customer"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>