@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.PriceLists
@using DMSpro.OMS.MdmService.PriceLists;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/PriceLists/CreateModal" autocomplete="off">
    <abp-modal id="PriceListCreateModal">
        <abp-modal-header title="@L["NewPriceList"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="PriceList.Code" />

            <abp-input asp-for="PriceList.Name" />

            <abp-input asp-for="PriceList.Active" />

            <abp-select asp-for="PriceList.ArithmeticOperation" />

            <abp-input asp-for="PriceList.ArithmeticFactor" />

            <abp-select asp-for="PriceList.ArithmeticFactorType" />

            <abp-input asp-for="PriceList.IsFirstPriceList" />

                                <abp-select asp-for="PriceList.BasePriceListId" asp-items="Model.PriceListLookupList" label="@L["BasePriceList"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
