@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization

@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Price List Detail"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.PriceLists;
}

@section styles {
    <abp-style src="/Pages/Mdm/PriceLists/details.css" />
}

@section scripts
{
    <abp-script src="/Pages/Mdm/PriceLists/details.js" />
}

@section breadcrumb
    {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Item"].Value</li>
        <li class="breadcrumb-item active">Price List Detail</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fal fal fa-window"></i>
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0"  >
                <div class="dx-viewport">
                    <div class="py-1" id="resizable">
                        <div id="top-section"></div>
                    </div>
                    <div class="py-2">
                        <div id="gridPriceListDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>