@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.ItemImages
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.ItemImages;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ItemImages/EditModal" autocomplete="off">
    <abp-modal id="ItemImageEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="ItemImage.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="ItemImage.Description" />

            <abp-input asp-for="ItemImage.Active" />

            <abp-input asp-for="ItemImage.URL" />

            <abp-input asp-for="ItemImage.DisplayOrder" />

                                <abp-select asp-for="ItemImage.ItemId" asp-items="Model.ItemMasterLookupListRequired" label="@L["Item"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
