@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.ProdAttributeValues
@using DMSpro.OMS.MdmService.ProdAttributeValues;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ProdAttributeValues/CreateModal" autocomplete="off">
    <abp-modal id="ProdAttributeValueCreateModal">
        <abp-modal-header title="@L["NewProdAttributeValue"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="ProdAttributeValue.AttrValName" />

                                <abp-select asp-for="ProdAttributeValue.ProdAttributeId" asp-items="Model.ProductAttributeLookupListRequired" label="@L["ProdAttribute"].Value"/>            <abp-select asp-for="ProdAttributeValue.ParentProdAttributeValueId" asp-items="Model.ProdAttributeValueLookupList" label="@L["ParentProdAttributeValue"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
