@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.SalesOrgHierarchies
@using DMSpro.OMS.MdmService.SalesOrgHierarchies;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/SalesOrgHierarchies/CreateModal" autocomplete="off">
    <abp-modal id="SalesOrgHierarchyCreateModal">
        <abp-modal-header title="@L["NewSalesOrgHierarchy"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="SalesOrgHierarchy.Code" />

            <abp-input asp-for="SalesOrgHierarchy.Name" />

            <abp-input asp-for="SalesOrgHierarchy.Level" />

            <abp-input asp-for="SalesOrgHierarchy.IsRoute" />

            <abp-input asp-for="SalesOrgHierarchy.IsSellingZone" />

            <abp-input asp-for="SalesOrgHierarchy.HierarchyCode" />

            <abp-input asp-for="SalesOrgHierarchy.Active" />

                                <abp-select asp-for="SalesOrgHierarchy.SalesOrgHeaderId" asp-items="Model.SalesOrgHeaderLookupListRequired" label="@L["SalesOrgHeader"].Value"/>            <abp-select asp-for="SalesOrgHierarchy.ParentId" asp-items="Model.SalesOrgHierarchyLookupList" label="@L["Parent"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>