@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using DMSpro.OMS.MdmService.Web.Pages.NumberingConfigs
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.NumberingConfigs;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/NumberingConfigs/EditModal" autocomplete="off">
    <abp-modal id="NumberingConfigEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="NumberingConfig.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="NumberingConfig.StartNumber" />

            <abp-input asp-for="NumberingConfig.Prefix" />

            <abp-input asp-for="NumberingConfig.Suffix" />

            <abp-input asp-for="NumberingConfig.Length" />

                                <abp-select asp-for="NumberingConfig.CompanyId" asp-items="Model.CompanyLookupList" label="@L["Company"].Value"/>            <abp-select asp-for="NumberingConfig.SystemDataId" asp-items="Model.SystemDataLookupList" label="@L["SystemData"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>