@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.Web.Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.Localization
@inject IHtmlLocalizer<OMSResource> L
@inject IAuthorizationService Authorization

@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Page.Title.NumberingConfigs"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.NumberingConfig;
}

@section scripts{
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/Pages/Mdm/NumberingConfigs/index.js" />
}

@section breadcrumb
    {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">System</li>
        <li class="breadcrumb-item active">@L["Menu:MdmService:NumberingConfigs"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-file-alt"></i>
            </h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content jqvmap-bg-ocean p-0"> 
                <div class="dx-viewport">
                    <div class="py-2">
                        <div id="gridNumberingConfigs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>