@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Customer Profile Detail"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.CustomerProfiles;
}
<style>
    #CusProfileTabpanel div.dx-multiview-item-container{
        background-color: white;
        padding-top: 10px;
    }
</style>
@section scripts
    {
    <script src="/js/devextreme/exceljs.min.js"></script>
    <script src="/js/devextreme/filesaver.min.js"></script>
    <abp-script src="/Pages/Mdm/CustomerProfile/details.js" />
}

@section breadcrumb
{
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:Customer"].Value</li>
        <li class="breadcrumb-item active">Customer Detail</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-file-alt"></i>
            </h2>
        </div>
        <div class="panel-container show" style="padding-top:10px">
            <div class="panel-content jqvmap-bg-ocean p-0" style="">
                <div style="padding-left:12px" class="buttons-header-grid">
                    <div class="btn-group">
                        <button id="btnActions" type="button" class="btn btn-light btn-sm dropdown-toggle hvr-icon-pop"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gear hvr-icon"></i>
                            <span class="">Action</span>
                        </button>
                        <div class="dropdown-menu fadeindown">
                            <button id="btnSave" onclick="action(this)" data-type="save" class="dropdown-item" type="button">Save</button>
                            <button id="btnCancel" onclick="action(this)" data-type="cancel" class="dropdown-item" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="dx-viewport">
                    <div class="py-3" id="resizable">
                        <div id="top-section" style="height:380px"></div>
                    </div>
                    <div class=" py-2">
                        <div id="CusProfileTabpanel">
                            <div id="tabpanel-container"> </div>
                            <div class="options">
                                <div class="option">
                                    <div id="animation-enabled"></div>
                                </div>
                                <div class="option">
                                    <div id="animation-enabled"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 