@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.OMS.MdmService.Permissions
@using DMSpro.OMS.MdmService.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@inject IHtmlLocalizer<MdmServiceResource> L
@inject IAuthorizationService Authorization

@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["GeoMasters"].Value;
    PageLayout.Content.MenuItemName = MdmServiceMenus.GeoMasters;
}

@section scripts {
    <abp-script src="/Pages/Mdm/GeoMasters/index.js" />
}

@section breadcrumb {
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">@L["Menu:MdmService:MdmService"].Value</a></li>
        <li class="breadcrumb-item">@L["Menu:MdmService:GroupMenu:Geographical"].Value</li>
        <li class="breadcrumb-item active">@L["Menu:MdmService:GeoMasters"].Value</li>
    </ol>
}

<div class="col-lg-12">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="ui-sortable-handle">
                <i class="subheader-icon fa fa-map"></i> @L["Menu:MdmService:GeoMasters"].Value
            </h2>
        </div>
        <div class="panel-container show" style="padding: 10px">
            <div class="panel-content jqvmap-bg-ocean p-0">
                <div class="dx-viewport">
                    <div id="tlGeoMaster"></div>
                </div>
            </div>
        </div>
    </div>
</div>