@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonX.Navigation

@model MenuViewModel

@foreach (var menuItem in Model.Items)
{
	//todo
	menuItem.IsInRoot = true;

	<li>
		@await Html.PartialAsync("/Components/MainMenu/_MenuItem.cshtml", menuItem)
	</li>
}