@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.Streets
@using DMSpro.OMS.MdmService.Streets;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Streets/CreateModal" autocomplete="off">
    <abp-modal id="StreetCreateModal">
        <abp-modal-header title="@L["NewStreet"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Street.Name" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>